{# forgot_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <h1>Forgot Password</h1>

    {# Create a form for the user to input their email #}
    <form action="{{ path('reset_password') }}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
